/* Write your code here. */

* {
  box-sizing: border-box;
  margin: 0;
}
.bgContainer {
  background-color: #0f172a;
  align-items: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 200px;
}
h1 {
  margin-bottom: 15px;
  font-size: 20px;
}

@media (min-width: "768px") {
  img {
    width: 300px;
  }
  h1 {
    font-size: 20px;
  }
}
